{% extends 'base.html.twig' %}

{% block title %}Ajouter une classe{% endblock %}

{% block body %}
{#  <section>
    {{ form_start(form) }}
    {#  {{ form_row(form.name) }}#}
{#
    {{ form_end(form) }}
    <button type="submit">ajouter</button>
</section>  #}
{% endblock %}
